.container-board {
    width: 850px;
    height: 90vh;
    background-color: #EEF3FE;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CACFDA;
    padding: 15px;
}

.card-title:hover {
    border: 2px solid lightslategray;
}

.sign-out {
    border: 1px solid #CACFDA;
}


.boards {
    padding: 10px;
}

.boards .boards-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boards .boards-title button {
    width: 162px;
    height: 35px;
    color: #FFFFFF;
    background: #4C9AFF;
    border-radius: 8px;
    border: none;
}

.board {
    width: 239.2px;
    height: 104px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 16px;
    background-color: #3DDC97;
}