<div class="container-board">
    <div class="card-title">
        <img src="../../../../assets/logo.png" alt="Logo da Kanboom">
        <div class="sign-out">
            <p>{{email}}</p>
            <a routerLink="/" (click)="toGoOut()">sair</a>
        </div>
    </div>

    <div class="boards">
        <div class="boards-title">
            <h1>Meus Quadros</h1>
            <button routerLink="/page-create-new-board">+ criar quadro</button>
        </div>
        <div class="board-container">
            <div  class="board" *ngFor="let board of boards">
              <h3>{{board._id}}</h3>
              <a [routerLink]="['/page-view-board', board._id]">{{board.name}}</a>
            </div>
        </div>
    </div>
</div>
