.container-password-recovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 419.6px;
    background: #FFFFFF;
    border: 2px solid #CACFDA;
    border-radius: 16px;
}

span {
    margin-bottom: 10px;
}

input,
button {
    width: 322px;
    height: 48px;
    border-radius: 8px;
}

input {
    border: 2px solid #4C9AFF;
    margin-bottom: 10px;

}

button {
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Helvetica';
    background: #4C9AFF;
}