<div class="container">

  <img src="assets/logo.png" alt="Logo da Kanboom">
  
      <h3>Crie sua conta!</h3>

  <form class="form-cadastro" action="">
    <input class="input-nome"  type="name" placeholder="Nome" [(ngModel)]="usuario.nome" name="name" required>
    <input class="input-email" type="email" placeholder="E-mail" [(ngModel)]="usuario.email" name="email" required>
    <input class="input-senha" type="password" placeholder="Senha" [(ngModel)]="usuario.senha" name="senha" required>
    <input class="input-confirma-senha" type="password" placeholder="Confirme sua senha" [(ngModel)]="usuario.confirma" name="confirma" required>
    <button class="btn-entrar" (click)="save()">Criar nova conta</button>
    <span>Já tem uma conta?<a routerLink="/">Clique aqui</a></span>
  </form>

  

</div>