.container-board {
    width: 484px;
    height: 281px;
    padding: 15px;
    background-color: #CACFDA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-board input,
button {
    padding: 5px;
    height: 44px;
    border-radius: 10px;
}

.container-board input {
    border: 1px solid #CACFDA;
}

.container-board button {
    margin-top: 15px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}

.enable {
    cursor: pointer;
    background-color: #4C9AFF;
}