<div class="container-board">
    <div class="card-title">
        <img src="../../../../assets/logo.png" alt="Logo da Kanboom">
        <div class="sign-out">
            <p>Imagen do perfil e o nome do usuário</p>
            <a href="#">sair</a>
        </div>
    </div>

    <div class="boards">
        <div class="boards-title">
            <h1>Meus Quadros</h1>
            <button>+ criar quadro</button>
        </div>
        <div class="board">
            <p>Quadro 1</p>
        </div>
    </div>
</div>