.container-forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background-color: #FFFFFF;
    width: 484px;
    height: 315px;
}

.container-forgot-password img {
    position: absolute;
    cursor: pointer;
    margin-top: 0.3%;
    margin-left: 34%;
}

.container-forgot-password h1 {
    margin-top: 10%;
}

.container-forgot-password p {
    margin-top: -5px;
    color: #5E6C84;
}

.container-forgot-password input {
    width: 436px;
    height: 48px;
    border: 1px solid #CACFDA;
    border-radius: 8px;

}

.container-forgot-password button {
    width: 436px;
    height: 45px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background: #4C9AFF;
    border: none;
    border-radius: 8px;
}