<div class="container">
    <div class="container-login">
        <img src="logo.png" alt="Logo da Kanboom">

        <h3>Fazer Login no Kanboom</h3>

        <div class="form-login">
            <input class="input-login" type="text" placeholder="E-mail">
            <input class="input-senha" type="text" placeholder="Senha">
            <button>entrar</button>
        </div>

        <a href="#">Esqueci minha senha</a>
        <a href="#">Ainda não tem um conta? Clique aqui para criar</a>

    </div>
</div>