<div class="container-login">
    <img src="../../../../assets/logo.png" alt="Logo da Kanboom">

    <h3>Fazer Login no Kanboom</h3>

    <div class="form-login">
        <input class="input-login" type="email" placeholder="Email" [(ngModel)]="usuario.email"
            (input)="verificarPreenchimento()">
        <input class="input-senha" type="password" placeholder="Senha" [(ngModel)]="usuario.password"
            (input)="verificarPreenchimento()">
        <button id="btn-enter" (click)=" login()" [disabled]="!camposPreenchidos">entrar</button>
    </div>

    <a routerLink="/page-forgot-password" href="#">Esqueci minha senha</a>
    <a href="#">Ainda não tem um conta? Clique aqui para criar</a>

</div>