.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.icons {
  margin-top: 3px;
  margin-bottom: 3px;
}

.icons span {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2px;
  margin-right: 5px;
}
