<mat-card class="card">
  <div class="icon-edit-delete">
    <mat-icon class="edit" aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="openEditCard()"></mat-icon>
    <mat-icon class="delete" aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="deleteCard()"></mat-icon>
  </div>
  <mat-card-title>{{card.name}}</mat-card-title>
  <mat-card-content>
    <span>{{card.name}}</span>
    <div class="icon-container">
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="brightness_low"></mat-icon>
        {{card.complexity}}
      </div>
      <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="schedule"></mat-icon>
        {{card.time}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <span>{{email}}</span>
  </mat-card-footer>
</mat-card>