.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  cursor: auto;
}

.icon-edit-delete {
  display: flex;
  justify-content: end;
}

.edit,
.delete {
  cursor: pointer;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 3px;
}

.icons {
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 2px;
}