<div class="container-onboarding">
    <img src="../../../../assets/onboarding-1.png" alt="Imagem de tutorial 1">
    <div class="summary">
        <h3>Conheça o Kanboom</h3>
        <p> Kanboom é uma plataforma de gestão de tarefas 100% voltado para pessoas de desenvolvimento!</p>
        <p>Simples de usar e pronto para começar a melhorar seu fluxo de trabalho.</p>
    </div>
    <a href="#">PRÓXIMO</a>
</div>

 <div class="container-onboarding">
    <img src="../../../../assets/onboarding-2.png" alt="Imagem de tutorial 2">
    <div class="summary">
        <h3>Criando Quadros</h3>
        <p>Quadros são como seus projetos serão organizados. Você pode criar mais de um quadro, basta
            clicar no botão ”criar quadro” no canto superior direito na tela de ”meus quadros”
        </p>

    </div>
    <a href="#">PRÓXIMO</a>
</div>

<div class="container-onboarding">
    <img src="../../../../assets/onboarding-3.png" alt="Imagem de tutorial 3">
    <div class="summary">
        <h3>Criando Colunas</h3>
        <p>Colunas representam os estágios do seu processo de trabalho. Você pode adicionar
            quantas colunas quiser, basta clicar no botão ”Adicionar Coluna” na última coluna do seu quadro.
        </p>
    </div>
    <a href="#">PRÓXIMO</a>
</div>

<div class="container-onboarding">
    <img src="../../../../assets/onboarding-3.png" alt="Imagem de tutorial 4">
    <div class="summary">
        <h3>Criando Cards</h3>
        <p> Cards representam as tarefas ou funcionalidades que você irá monitorar. Basta
            clicar no botão ”Adicionar Card” na parte inferior de uma coluna para adicionar seu novo card.
        </p>
        <p>Você pode preencher também as estimativas de complexidade e tempo para te ajudar a se planejar no seu
            dia-a-dia.
        </p>

    </div>
    <a href="#">PRÓXIMO</a>
</div> 