.slide-container {
    display: flex;
    margin: auto auto;
    width: 700px;
    height: 90vh;
    overflow: hidden;
    background-color: #fff;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.slide {
    padding: 20px;
    flex: 1 0 94%;
    text-align: center;
}

.slide img {
    width: 500px;
    border: 1px solid #000;
    border-radius: 10px;
}

.summary {
    width: 80%;
    height: 35%;
    margin: auto auto;
    text-align: center;
}

a {
    cursor: pointer;
    color: #4C9AFF;
    cursor: pointer;
    text-decoration: none;
}